@use '../helpers' as *;

.button {
    display: inline-flex;
    justify-content: center;
    border: var(--border);
    border-radius: rem(12);
    padding: rem(18) rem(24);
    background-color: var(--color-dark);
    font-size: rem(18);
    white-space: nowrap; //Чтобы текст не переносился на новую строку
    color: var(--color-gray-60);

    @include laptop {
        padding: rem(14), rem(20);
        font-size: rem(14);
        border-radius: rem(8);
    }

    @include hover {
        color: var(--color-accent);
        background-color: var(--color-dark-10);
        border-color: var(--color-accent);
    }

    &--accent {
        font-weight: 500;
        background-color: var(--color-accent);
        color: var(--color-dark);
        padding: rem(14) rem(20);
        border-radius: rem(8);
    }

    &--dark-gray {
        background-color: var(--color-dark-10);
    }
}