@use '../helpers' as *;

.metrics {
    --colums: 3;

    &--4-cols {
        --colums: 4;

        text-align: center;

        @include tablet-above {
            .metrics__item:nth-child(4n) {
                padding-right: 0;
            }
        }

        @include tablet {
            --columns: 2;

            padding-inline: 0;

            .metrics__item {
                border-bottom: var(--border);

                &:nth-child(odd) {
                    padding-left: var(--container-padding-x);
                }

                &:nth-child(even) {
                    padding-right: var(--container-padding-x);
                    border-right: none;
                }
            }
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(var(--colums), 1fr);
    }

    &__item {
        display: flex;
        flex-direction: column-reverse;
        justify-content: start;
        align-items: start;
        row-gap: rem(10);
        padding: rem(50);

        @include laptop {
            padding: rem(30), rem(40);
            row-gap: rem(2);
        }

        @include tablet {
            row-gap: 0;
        }

        @include mobile {
            align-items: center;
            justify-content: center;
            padding: rem(15) rem(30);
        }

        &:first-child {
            @include mobile-above {
                padding-left: 0;
            }
        }

        &:not(:last-child) {
            border-right: var(--border);
        }
    }

    &__value {
        font-weight: 600;
    }

    &__sign {
        color: var(--color-accent);
    }
}