@use 'normalize';
@use 'fonts';
@use 'variables';
@use 'utils';
@use 'globals';

@use './blocks/icon';
@use './blocks/logo';
@use './blocks/button';
@use './blocks/burger-button';
@use './blocks/header';
@use './blocks/footer';
@use './blocks/badge';
@use './blocks/soc1als';
@use './blocks/metrics';
@use './blocks/team';
@use './blocks/resources-preview';
@use './blocks/advantage-card';
@use './blocks/hero';
@use './blocks/tag';
@use './blocks/section';
@use './blocks/list';
@use './blocks/card';
@use './blocks/tile';
@use './blocks/tabs';
@use './blocks/blog-actions';
@use './blocks/blog-card';
@use './blocks/person-card';
@use './blocks/download-info';
@use './blocks/bordered-grid';
@use './blocks/rating-view';
@use './blocks/reviews-card';
@use './blocks/about-card';
@use './blocks/about';
@use './blocks/hero-alt';
@use './blocks/summary';
@use './blocks/news-card';
@use './blocks/news';

@use './blocks/video-player';
@use './blocks/video-card';



// .header,
// main>*:not(:last-child),
// .footer {
//     display: none !important;
// }